# ------------------------------------------------------- Public ------------------------------------------------------#

# Analytics Token
# NEXT_PUBLIC_ANALYTICS_TOKEN="..."
# NEXT_PUBLIC_ANALYTICS_DEBUG=true

# ------------------------------------------------------ Secrets ------------------------------------------------------#

# Issued auth bearer tokens are valid till 30 days (30 * 24 = 720 hours)
AUTH_TOKEN_VALIDITY_HOURS=720

# Database URL -- used in Prisma 
# https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# 
DATABASE_URL="postgresql://secure-ai-tools-dev:SecureAIToolsFTW!@127.0.0.1:5432/secure-ai-tools-dev-db"

# Path for local-object-storage
LOCAL_OBJECT_STORAGE_DIR="/Users/<USER>/.SecureAI.tools/local-objects"

# Winston logging level
LOG_LEVEL="debug"

# AuthJS
# Secret generated using command: openssl rand -hex 32
# https://next-auth.js.org/configuration/options#nextauth_secret
NEXTAUTH_SECRET="..."
# https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL="http://localhost:28669/"

# Inference server
INFERENCE_SERVER="http://localhost:28664/"

# Chroma server
VECTOR_DB_SERVER="http://localhost:8000"

# Document indexing and retrieval configs
DOCS_INDEXING_CHUNK_SIZE=1000
DOCS_INDEXING_CHUNK_OVERLAP=200
DOCS_RETRIEVAL_K=2

# Model provider configs
# Configure external model providers here. Needs to be serialized JSON of ModelProviderConfig[]
# https://github.com/SecureAI-Tools/SecureAI-Tools/blob/main/packages/core/src/types/model-provider-config.ts
# MODEL_PROVIDER_CONFIGS='[{"type":"OPENAI","apiBaseUrl":"https://api.openai.com/v1","apiKey":"..."}]'

# AMQP Server (RabbitMQ) info
AMQP_SERVER_URL="amqp://localhost:5672"
AMQP_DOCS_INDEXING_QUEUE_NAME="documents-indexing-queue"

# ---------------------------------------------------------------------------------------------------------------------#
# Instance configs (available publicly via an endpoint)

# Analytics: ["enabled", "disabled"]
# We recommend enabling this so that we can get anonymized usage data. It will help us improve the platform :)
INSTANCE_CONFIG_ANALYTICS="enabled"
